<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet" />
    <title>Mona Lisa And the Blood Moon</title>
</head>

<body>
    <div class="main">
        <div class="top">
           <!-- login -->
            <a href="/auth/google" class="top__loginBtn"><img src="/imgs/googleBtn.png" alt="login"></a>
            <!-- title -->
            <h1>모나리자와 블러드 문</h1>
            <div class="top__description">
                <div class="top__left">
                    <p>Mona lisa and the blood Moon</p>
                    <p class="top__year">2023 R 1h 46m</p>
                </div>
                <div class="top__right">
                    <!-- go to imdb -->
                    <img class="top__imdbIcon" src="/imgs/imdb-Icon.png" alt=""
                        onclick="window.open('https://www.imdb.com/title/tt8760670/?ref_=nv_sr_srsg_0')" />
                    <!-- go to daum movie -->
                    <img class="top__daumIcon" src="/imgs/daum-Icon.png" alt=""
                        onclick="window.open('https://movie.daum.net/moviedb/main?movieId=133138')" />
                </div>
            </div>
        </div>
        <div>
            <!-- poster -->
            <img class="body__poster" src="/imgs/mona-poster1.jpeg" alt="" />
            <img class="body__poster" src="/imgs/mona-poster2.jpeg" alt="" />
            <!-- trailer -->
            <iframe width="560" height="308" src="https://www.youtube.com/embed/NOb0spi2u1Y"
                title="MONA LISA AND THE BLOOD MOON | Official Trailer | Paramount Movies" frameborder="0"
                allowfullscreen></iframe>
        </div>
        <div class="body__description">
            <!-- movie description -->
            <article class="body__movieLogline">
                붉은 달이 뜨던 밤, 폐쇄병동에서 탈출한 '모나'는 화려한 조명에 이끌려
                도착한 낯선 도시에서 자신의 특별함을 알아챈 기묘한 사람들을 만난다.
                모나의 능력으로 일확천금을 꿈꾸는 댄서 '보니' 모나한테 첫눈에 반한
                로맨티스트 DJ '퍼즈' 모나에게 락 스피릿을 가르친 11살의 소울메이트
                '찰리' 그리고 모나를 뒤쫓는 언럭키한 경찰 '해롤드'까지 완벽한 밤…
                완전한 자유? 완성된 운명! 새로운 세상으로 향하는 '모나'의 모험이
                펼쳐진다.
            </article>
            <!-- director, writer -->
            <div class="body__director">
                <p><span>director</span> : Ana Lily Amirpour</p>
                <p><span>writer</span> : Ana Lily Amirpour</p>
            </div>
        </div>
        <hr class="body__border" />
        <!-- movie casts -->
        <div class="body__content">
            <h2 class="body__title">출연</h2>
            <div class="body__casts">
                <div class="body__cast">
                    <img src="/imgs/Jeon.jpeg" alt="" />
                    <p>전종서</p>
                </div>
                <div class="body__cast">
                    <img src="/imgs/Kate.jpg" alt="" />
                    <p>케이트 허드슨</p>
                </div>
                <div class="body__cast">
                    <img src="/imgs/Craig.jpeg" alt="" />
                    <p>크레이그 로빈슨</p>
                </div>
                <div class="body__cast">
                    <img src="/imgs/ED.png" alt="" />
                    <p>에드 스크레인</p>
                </div>
                <div class="body__cast">
                    <img src="/imgs/Evan.jpg" alt="" />
                    <p>에반 휘튼</p>
                </div>
            </div>
        </div>
        <!-- awards -->
        <div class="body__content">
            <h2 class="body__title">수상내역</h2>
            <p>
                <span>2022</span> 제라르메국제판타스틱영화제 음악상(애나 릴리
                아미푸르)
            </p>
            <p>
                <span>2021</span> 시체스국제영화제 오피셜 판타스틱-음악상(다니엘
                루피), Carnet Jove-판타지장르 작품상(애나 릴리 아미푸르)
            </p>
        </div>
        <!-- ratings -->
        <div class="body__content">
            <h2 class="body__title">평점</h2>
            <form action="/MonaLisaAndTheBloodMoon" method="post" >
                <% if(userInfo) {%>
                    <!-- review stars -->
                    <div class="body__rating">
                        <input type="radio" id="5-stars" name="review[rating]" value="5" required />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="review[rating]" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="review[rating]" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="review[rating]" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="review[rating]" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                    <!-- review -->
                    <textarea name="review[body]" cols="112" rows="7" required></textarea>
                    <button class="body__btn">Add</button>
                    <p class="body__username">by <%= userInfo.name %></p>
                    <!-- <p class="body__useremail" style="display: none;"><%= userInfo.email %></p> -->
                    <% } else {%>
                        <!-- review stars -->
                        <div class="body__rating">
                            <p for="5-stars" class="star">&#9733;</p>
                            <p for="4-stars" class="star">&#9733;</p>
                            <p for="3-stars" class="star">&#9733;</p>
                            <p for="2-stars" class="star">&#9733;</p>
                            <p for="1-star" class="star">&#9733;</p>
                        </div>
                        <!-- review -->
                        <textarea name="review[body]" cols="112" rows="7" disabled></textarea>
                        <button class="body__btn disabled" disabled>LogIn</button>
                        <% } %>
            </form>

            <!-- movie reviews -->
            <ul class="body__reviews">
            <% if(reviews) {%>
            <% Object.keys(reviews).forEach(id=> {%>
                <li class="body__review">
                    <% if(userInfo?.email === reviews[id].useremail) {%>
                        <form class="body__reviewDelete" action="/MonaLisaAndTheBloodMoon/<%=id%>?_method=DELETE " method="POST">
                            <button>&#10005;</button>
                        </form>
                    <% }%>
                    <div>
                        <p class="body__reviewStars">
                        <% if (reviews[id].stars==="5") {%>
                            ★★★★★
                        <% } else if (reviews[id].stars==="4") {%>
                            ★★★★
                        <% } else if (reviews[id].stars==="3") {%>
                            ★★★
                        <% } else if (reviews[id].stars==="2") {%>
                            ★★
                        <% } else {%>
                            ★
                        <% }%>
                    </p>
                    </div>
                    <p class="body__reviewBody"><%= reviews[id].review %></p>
                    <div class="body__reviewUser" >
                        <p class="body__reviewUsername">by <%= reviews[id].username %></p>
                        <p class="body__reviewDate"><%= reviews[id].date%></p>
                    </div>
                </li>
                 <%  })%>
                <% }%>
            </ul>
        </div>
    </div>

</body>

</html>